/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Official Stylesheet For Sceder
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~ Global ~~~~~~*/

html, body {
	font-family: 'Open Sans' !important;
	color: #333;
}

a {
    color: #FF3D3D;
    text-decoration: none;
    -o-transition:200ms !important;
    -ms-transition:200ms !important;
    -moz-transition:200ms !important;
    -webkit-transition:200ms !important;
    /* ...and now for the proper property */
    transition:200ms !important;
}

button {
  -o-transition:200ms !important;
    -ms-transition:200ms !important;
    -moz-transition:200ms !important;
    -webkit-transition:200ms !important;
    /* ...and now for the proper property */
    transition:200ms !important;
}

p {
  color: #555;
}

a:link {
    color: #FF3D3D;
    text-decoration: none;
}

a:visited {
   color: #FF3D3D;
   text-decoration: none;
}

a:hover {
    color: #ff0000;
    text-decoration: none;
}

a:active {
    color: #EC0000;
    text-decoration: none;
}

/*~~~~~~~ End ~~~~~~~~*/

/*~~~~~~ Header ~~~~~~*/

.main-header {
  width: 100%;
}

.main-header a, .main-header button {
  color: #333 !important;
  font-weight: normal !important;
}

.main-header-div {
  padding: 12px 10px;
  background-color: #FF3D3D;
}

@media (min-width: 1920px) {
	.main-header-div {
		max-width: 1920px;
	}
}

.main-header-div ul, .header-ul-right li {
  display: inline-block;
}

.header-ul-left {
  margin-left: 30px;
}

.header-ul-left li h1 a {
  font-size: 1.7rem;
}

.header-ul-right {
  float: right;
  margin-right: 30px;
  vertical-align: top !important;
  margin-top: -6px;
}

.header-ul-right li button, .footer-links li button {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  font-size: 1rem !important;
}

.header-ul-right li button {
  padding: 8px 10px;
  margin: 2px;
  font-size: 0.9rem !important;
  background-color: #ff3d3d !important;
  border: 1px solid #333 !important;
  outline: none !important;
  border-radius: 3px !important;
}

.header-ul-right li button:last-child {
  padding: 9.7px 10px !important;
  margin-left: 5px !important;
}

.header-ul-right li button:hover {
  background-color: #333 !important;
  color: #fff !important;
  border: 1px solid #333 !important;
}

.header-ul-right li button:active {
  outline: none !important;
}

/*~~~~~~~ End ~~~~~~~~*/

/*~~~~~~ Footer ~~~~~~*/

.main-footer {
  width: 100%;
  text-align: center;
}

@media (min-width: 1920px) {
	.main-footer-div {
		max-width: 1920px;
	}
}

.main-footer-div {
  padding: 10px;
  background-color: #ff3d3d;
  margin-top: 50px;
}

.main-footer-div a {
  color: #fff !important;
}

.main-footer-1 ul li, .main-footer-2 ul li {
  display: inline-block;
  padding: 5px 10px;
}

.main-footer-1 ul li a:hover, .main-footer-1 ul li button:hover, .main-footer-2 ul li a:hover {
  color: #111 !important;
}

.main-footer a, .main-footer button {
  color: #333 !important;
}

.main-footer-2 {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  width: 80%;
  text-align: center;
  margin: 5px auto;
}

.main-footer-1, .main-footer-2, .main-footer-3 {
  padding: 10px 10px;
}

.footer-links button {
  background-color: #ff3d3d !important;
}

.footer-social i {
  font-size: 1.2rem !important;
}

.main-footer-3 p {
  color: #333 !important;  
}

/*~~~~~~~ End ~~~~~~~~*/

/*~~~~~~ Home Pre ~~~~~~*/

.home-1 {
  width: 70%;
  margin: 80px auto 0px auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #888;
}

.home-1 ul > li:first-child {
  display: 30%;
}

.home-1 ul > li:first-child img {
  height: 240px;
  width: 100%;
  border-radius: 8px;
}

.home-1 ul > li:last-child {
  width: 60%;
  margin-left: 2%;
  vertical-align: top;
  line-height: 1.8;
}

.home-1 ul > li h3 {
  font-size: 1.5rem;
  margin-top: -10px;
  margin-bottom: 5px;
}

.home-1 ul > li > ul > li {
  width: 100% !important;
  margin: 0 !important;
}

.home-1 ul > li {
  display: inline-block;
}

.home-1 ul > li > ul > li {
  display: block !important;
}



.home-2 {
  width: 70%;
  margin: 50px auto 0px auto;
  padding-bottom: 50px;
}

.home-2 ul > li {
  display: inline-block;
}

.home-2 ul > li:first-child {
  width: 48%;
  margin-left: 2%;
  vertical-align: top;
  line-height: 1.8;
}

.home-2 ul > li:last-child {
  width: 47%;
  margin-left: 2%;
  vertical-align: top;
  line-height: 1.8;
}

.home-2 ul > li > ul > li:first-child {
  width: 30% !important;
  margin-right: 2%;
}

.home-2 ul > li > ul > li:first-child img {
  height: 135px;
  width: 135px;
  border-radius: 50%;
}

.home-2 ul > li > ul > li:last-child {
  width: 60% !important;
  margin-top: 10px;
}

/*~~~~~~~ End ~~~~~~~~*/

/*~~~~~~ Home Post ~~~~~~*/


/*~~~~~~~ End ~~~~~~~~*/

/*~~~~~~ Form Modal ~~~~~~*/

.modal-dialog {
  margin-top: 5%;
}

.modal-content {
  min-height: 400px;
}

.modal-body {
  padding: 50px;
}

.modal-form {
  width: 80% !important;
  margin: 0 auto;
}

.modal-form ul li {
  margin: 10px 0;
}

.modal-form ul li input {
  width: 100% !important;
  line-height: 25px;
}

.modal-form ul li input[type="text"] {
  padding: 10px;
  color: #d3d3d3 !important;
  border: 1px solid #d3d3d3 !important;
  outline: none !important;
  border-radius: 4px;
}

.modal-form ul li input[type="submit"] {
  margin-top: 10px;
  padding: 10px 0 !important;
  outline: none !important;
  border: 1px solid #ff3d3d;
  background-color: #ff3d3d !important;
  color: #fff !important;
  border-radius: 4px;
}

.modal-form ul li input[type="submit"]:hover {
  background-color: #ff0000 !important;
}

.modal-form ul li input[type="submit"]:hover {
  background-color: #ec0000 !important;
}

.modal-form h2 {
  margin-bottom: 15px;
  font-size: 1.4rem;
}

.modal-form h2 i {
  margin-right: 12px;
  background-color: #ff3d3d !important;
  color: #fff !important;
  padding: 8px 10px;
  font-size: 1.1rem;
  border-radius: 4px;
  
}

.modal-login-body {
  margin-top: 30px;
}
/*~~~~~~~ End ~~~~~~~~*/